.flex {
  display: flex;
  flex: none;
}

.flexCol {
  flex-direction: column;
}

.mb2 {
  margin-bottom: 0.5rem;
}

.button {
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--green-500);
  color: var(--astro-light-background);
  font-size: 1rem;
  font-weight: 500;
}

.button:hover {
  background-color: var(--green-600);
  cursor: pointer;
}

.button:active {
  background-color: var(--green-400);
}

.helloH1 {
  margin: 1rem 0;
}

.helloCheckbox {
  margin: 0.5rem 0;
}

.helloCheckbox input {
  margin: 0 0.5rem;
}

.helloCheckbox input:hover {
  cursor: pointer;
}
