@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --astro-light-background: #f1f5f9;
  --github-dark-background: #0d1016;
  --teal-500: #3a7380;
}

html,
body {
  background-color: var(--astro-light-background);
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--teal-500)
}
